/**{
	box-sizing: border-box;
}*/

#main{
	width: 100%;
	font-family: "Calibri";
}

.container{
	width: 1140px;
	margin: 0 auto;
}


#header .topNav{
	width: 100%;
	height: 36px;
	background-color: #e5ebf1;
}

#header .container{
	display: flex;
	justify-content: space-between;
}

#header .topNav li{
	display: inline-block;
	padding:10px;
}

#header .topNav .daxilOl li{
	padding-left: 50px;
}

#header .topNav li a{
	text-decoration: none;
	font-size: 14px;
	color: rgb(51,51,51);
	border-bottom: 2px solid transparent;
}

#header .topNav li a:hover{
	border-bottom: 2px solid #737579;
}

#header .navBar{
	padding: 28px 0px;
}

#header .navBar .logo{
	width: 165px;
	height: 47px;
}

#header .navBar .search{
	display: flex;
    border: 1px solid #e8e8e8;
}

#header .navBar .search input{
	width: 282px;
	border:none;
	border-right: 1px solid #e8e8e8;
	font-size: 14px;
	color: rgb(135,137,138);
	padding-left: 13px;
	outline: none;
}

#header .navBar .search button{
	width: 70px;
	height: 47px;
	border:none;
	border-radius: 0px 3px 3px 0px;
	background-color: #ebcd4b;
	padding: 0px;
	font-size: 20px;
}

#header .navBar .search select{
	border:none;
	font-size: 14px;
	color: rgb(135,137,138);
	width: 120px;
	padding-left: 13px;
	outline: none;
}

#header .navBar .basket a{
    font-size: 20px;
    color: rgb(51,51,51);
    text-decoration: none;
    line-height: 48px;
}

#header .navBar .basket i{
	color: #595959;
}

#header .navBar .phoneNumber{
	display: flex;
}

#header .navBar .phoneNumber h5{
	font-weight: bold;
}

#header .navBar .phoneNumber h3{
	font-weight: bold;
	font-size: 24px;
}


#header .navBar .phoneNumber .phoneIcon{
	color: #ebcd4b;
	font-size: 40px;
	padding-right: 8px;
}

#header .menuBar {
	background-color: #ebcd4b;
	height: 45px;
}

#header .menuBar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

#header .menuBar ul li{
	display: inline-block;
	height: 45px;
	border-bottom: 2px solid transparent;
}

#header .menuBar ul li a{
	text-decoration: none;
	text-transform: uppercase;
	line-height: 45px;
	font-size: 16px;
	color: rgb(51,51,51);
	font-weight: bold;
}

#header .menuBar ul li:hover{
	border-bottom: 2px solid #737579;
}

#body .slider{
	background-color: #eef3fa;
	padding: 16px 0px;
}

#body .slide{
	height: 450px;
	border-radius: 10px;
	background-image: linear-gradient(135deg, #116fe3 0%, #59c1ff 100%);
}

#body .trendMehsul {
	background-color: #e6ebf2;
	padding-top: 33px;
}

#body .enCoxBaxilan {
	background-color: #eef3fa;
	padding-top: 33px;
}

#body  .sonXeberler{
	background-color: #e6ebf2;
	padding: 38px 0px 45px;
}

#body .menu{
	display: flex;
	justify-content: space-between;
}

#body .menu .content{
	margin-bottom:21px;
	height: 25px;
	display: flex;
}

#body .menu span{
	text-transform: uppercase;
	border-left: 4px solid #ebcd4b;
	padding-left: 5px;
	font-size: 19px;
	color: rgb(0,0,0);
	font-family: "Gotham";
	font-weight: bold;
}

#body .menu .content ul{
	padding: 0px 32px;
}

#body .menu .content ul li{
	display: inline-block;
	margin: 0px 32px;
	font-size: 14px;
	border-bottom: 2px solid transparent;
}

#body .menu .content ul li a{
	text-decoration: none;
	color: #000000;
}

#body .menu .content ul li a:hover{
	border-bottom: 2px solid #737579;
}

#body .menu .arrows{
	align-self: center;
}

.arrowSag{
	background-color: #d7dbe3;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
}

.arrowSol{
	background-color: #ebcd4b;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
}

#body .mehsullar{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#body .mehsul{
	width: 264px;
	height: 356px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.02);
	background-color:#ffffff;
	margin-bottom: 25px;
}

#body .mehsul .mehsulName,
#body .mehsul .mehsulPrice{
	margin-left: 16px;
}

#body .mehsul .mehsulPrice{
	margin-top: 21px;
	margin-right: 22px;
	display: flex;
	justify-content: space-between;
}

#body .mehsul .mehsulName span{
    display: inline-block;
    font-size: 18px;
	color: rgb(0,0,0);
	margin-top: 15px;
}

#body .mehsul .image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 262px;
    border-bottom: 1px solid #e6ebf2;
}

#body .mehsul .mehsulPrice span{
    display: inline-block;
    line-height: 25px;
    font-weight: bold;
    font-size: 20px;
}

#body .mehsul .mehsulPrice button{
    width: 81px;
    height: 25px;
    border: 2px solid #ebcd4b;
    background-color: white;
    border-radius: 3px;	
    font-size: 14px;
	color: rgb(0,0,0);
	font-weight: bold;
}

#body .mehsul .mehsulPrice button:hover{
	background-color: #ebcd4b;
}

#body  .sonXeberler .xeberler{
	display: flex;
	border-radius: 10px;
	background-color: #ffffff;
	overflow: hidden;
}

#body  .sonXeberler .butunXeberler{
	margin-bottom: : 21px;
}

#body  .sonXeberler .butunXeberler a{
	text-decoration: none;
	color: #000000;
	border-bottom: 2px solid transparent;
}

#body  .sonXeberler .butunXeberler a:hover{
	border-bottom: 2px solid #737579;
}

#body  .sonXeberler .xeber,
#body  .sonXeberler .xeberImg{
	width: 50%;
	height: 410px;
	overflow: hidden;
}

#body  .sonXeberler .xeber span{
	display: block;
	font-size: 14px;
	color: rgb(0,0,0);
	font-weight: bold;
	margin: 35px 0px 16px 30px;
}

#body  .sonXeberler .xeber h1{
	font-size: 31px;
	color: rgb(0,0,0);
	font-weight: bold;
	text-transform: uppercase;
	padding:0px 0px 19px 30px;
	position: relative;
}

#body  .sonXeberler .xeber h1::after{
	content: "";
	height: 3px;
	width: 110px;
	background-color: #ebcd4b;
	position: absolute;
	left: 30px;
	bottom: 0;
}

#body  .sonXeberler .xeber p{
	font-size: 14px;
	color: rgb(0,0,0);
	padding: 30px 0px 34px 30px;
	line-height: 24px;
}

#body  .sonXeberler .xeber button{
	margin-left: 30px;
	width: 140px;
	height: 40px;
	border-radius: 3px;
	background-color: #ffffff;
	border: 2px solid #ebcd4b;
	font-size: 16px;
	font-weight: bold;
}

#body  .sonXeberler .xeber button:hover{
	background-color: #ebcd4b;
}

#body  .sonXeberler .xeberImg{
	overflow: hidden;
	position: relative;
}

#body  .sonXeberler .xeberImg img{
    position: absolute;
    right: 0;
    height: 100%;
}

#body .partners{
	background-color: #eef3fa;
}

#body .partners .container{
	display: flex;
	justify-content: space-between;
	padding: 44px 0px;
	position: relative;
}

#body .partners .brend{
	width: 165px;
	height: 70px;
	border-radius: 3px;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-self: center;
}

#body .partners .brend img{
	padding: 20px;
	filter: grayscale(100%);
}

#body .partners .brend img:hover{
	filter: grayscale(0%);
}

#body .partners .container div:first-child{
    position: absolute;
    left: -14px;
    top: 65px;
}

#body .partners .container div:last-child{
    position: absolute;
    right: -14px;
    top: 65px;
}

#footer{

}

#footer .uls ul li:first-child{
	text-transform: uppercase;
	font-size: 16px;
	color: rgb(51,51,51);
	font-weight: bold;
	display: inline-block;
	line-height: 20px;

}

#footer .uls{
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
}

#footer .uls ul{
	padding: 0px 30px 0px 0px;
	box-sizing: border-box;
}

#footer .uls ul li{
	line-height: 20px;
}

#footer .uls ul li a{
	text-decoration: none;
	color: rgb(51,51,51);
	border-bottom: 1px solid transparent;
}

#footer .uls ul li a:hover{
	border-bottom: 1px solid #000000;
}

#footer .abune{
	height: 173px;
	border-radius: 20px;
	background-image: linear-gradient(168deg, #ffdf3f 0%, #ff8359 100%);
	border: 1px solid #ffc147;
	padding: 20px 17px;
	box-sizing: border-box;
	position: relative;
}

#footer .abune input{
	width: 328px;
	height: 40px;
	border-radius: 3px;
	background-color: #edf3f9;
	outline: none;
	border:none;
	font-size: 14px;
	line-height: 20px;
	color: rgb(170,170,170);
    margin: 20px 0px;
    padding-left: 16px;
}

#footer .abune h3{
	text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: "Gotham";
    text-align: center;
}
   
#footer .abune .markets{
	padding: 0px 68px;
	display: flex;
	justify-content: space-between;
}

#footer .abune button{
	border:none;
	background-color: transparent;
	position: absolute;
    right: 30px;
    bottom: 76px;
    cursor: pointer;
}

#footer .abune button i{
    font-size: 14px;
    color: rgb(255,142,86);
}